@use 'styles/variables' as *;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  padding: 1rem;
  border-top: 1px solid #eee;
  color: $text-muted;
  animation: fadeIn 0.5s ease-in-out;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &__example {
    font-size: 0.9rem;
  }
}
