@use 'styles/variables' as *;

.home {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  &-content__nav {
    display: flex;
    .routes {
      font-size: 1.2rem;
      font-weight: bold;
      list-style: none;
      &-route {
        &__name {
          font-size: 1.2rem;
          font-weight: bold;
        }
        &__subroutes {
          display: flex;
          flex-direction: column;
          list-style: none;
          gap: 8px;
          .subroute {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            width: fit-content;
            &__link {
              text-decoration: none;
              color: $highlight;
            }
            &::after {
              content: '';
              display: block;
              width: 0;
              height: 2px;
              background-color: $highlight;
              transition: width 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
