$primary-dark: #121212;
$secondary-dark: #1e1e1e;
$accent-dark-blue: #364f6b;
$accent-dark-purple: #3a3a5a;
$highlight: #f05454;
$highlight-secondary: #ffcb77;
$text-light: #e5e5e5;
$text-muted: #bdbdbd;

$background-gradient: linear-gradient(135deg, #121212, #1e1e1e);
